@{
    ViewData["Title"] = "Accueil - WebApplication1";
}

<div class="text-center">
    <!-- Utilisation de l'image comme titre -->
    <p>Apprenez-en plus sur le <a href="https://learn.microsoft.com/aspnet/core">développement d'applications Web avec ASP.NET Core</a>.</p>
</div>
